*{
  padding: 0;
  margin: 0;
}
html,body{
  background-color: #1b1b32;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.general-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
